APPLICATION_NAME=Lighthouse
APPLICATION_ENVIRONMENT=production
APPLICATION_DEBUG=true
APPLICATION_HOST=localhost

APPLICATION_KEY=

APPLICATION_RANDOM_ALGORITHM=
APPLICATION_RANDOM_PASSWORD_ALGORITHM=
